* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.brand-title {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.brand-title a {
    text-decoration: none;
    color: black;
}




.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition:  0.6s;
    
    color: black;
    z-index: 100000;
}


.navbar.sticky {
	background: white;
}



.navbar-links {
    height: 100%;
}

.navbar-links ul {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
	position: relative;
	margin: 0 15px;
    display: block;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #EFECEB;
}

#navbar-4 .navbar-links li:hover, #navbar-3 .navbar-links li:hover {
    background-color: #FEC4B0;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

#navbar-2 {
    position: relative;
    top: 50px;
    right: 0;
    background-color: gray;

}

#navbar-3 {
    position: relative;
    top: 65px;
    right: 0;
    background-color: #EA948A;
    flex-direction: row-reverse;

}

#navbar-4 {
    position: relative;
    top: 90px;
    right: 0;
    background-color: #EA948A;
    
}

/* Popover, two ways of doing it.  tab1 and tab3 are only text, as tab2 is a popover with HTML as it can have links  */

.popover {
    display: none;
    position: absolute;
    left: 0px;
    top: 83px;
    background-color: #EA948A;
    padding: 1.5rem;
    width: 100vw;
    color: white;
}

.tab2:hover .popover {
    z-index: 10;
    display: block;
}
/* tab2 and popover go together  */

/* I made these ones */

.tab1:hover::after {
    content: 'This is a message';
    display: block;
    position: absolute;
    left: 0;
    top: 83px;
    background-color: #EA948A;
    padding: 1.5rem;
    width: 100vw;
    color: white;
    z-index: 5;
}

.tab3:hover::after {
    content: 'This is a message';
    display: block;
    position: absolute;
    left: 0;
    top: 83px;
    background-color: #EA948A;
    padding: 1.5rem;
    width: 100vw;
    color: white;
    z-index: 5;
}


/* popover message ends here */




.nav-group .navbar-links li:hover {
    background-color: #FDCEC8;
}




.div-2 {
    position: absolute;
    top: 247px;
}

.nav-group {
    display: flex;
    justify-content: space-between;
}

.tab {
    z-index: 5;
}
.tab ul {
    display: flex;
  flex-direction: row;
}

.tab li a {
   
    margin: 0 15px;
    display: block;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    
}

nav#navbar-4 .navbar-link ul li a:hover, #navbar-4 .tab li a:hover {
    background-color: #FDCEC8;
}

.tab li {
    list-style: none;
}



/* Only for the first navbar */
@media (max-width: 800px) {
    .navbar:first-of-type .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar:first-of-type .toggle-button {
        display: flex;
    }

    .navbar:first-of-type .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar:first-of-type .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar:first-of-type .navbar-links ul li {
        text-align: center;
    }

    .navbar:first-of-type .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar:first-of-type .navbar-links.active {
        display: flex;
    }

   
}


