


/* Document Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



/* Navbar CSS */

.brand-title {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.brand-title a {
    text-decoration: none;
    color: black;
}

#navbar-4 .brand-title a {
    color: white;
}


.navbar {
    display: flex;
   /* position: fixed;
    top: 0;
    left: 0;*/
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition:  0.6s;
    
    color: black;
    z-index: 100000;
}

/* JS adds the sticky class when scrolling for the first navbar */
.navbar.sticky {
	background: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
	position: relative;
	margin: 0 15px;
    display: block;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 1rem;
}

#navbar-3 .navbar-links a, #navbar-4 .navbar-links a {
    color: white;
} 

.navbar-links li:hover {
    background-color: #EFECEB;
}


#navbar-4 .navbar-links li:hover, #navbar-3 .navbar-links li:hover, .popover-tabs li:hover {
    background-color: #FEC4B0;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


#navbar-2 {
    /*position: relative;
    top: 50px;
    right: 0;*/
    background-color: gray;

}

#navbar-3, #navbar-4 {
    /*position: relative;
    top: 65px;
    right: 0;*/
    background-color: #EA948A;
    flex-direction: row-reverse;
}


/* Popover, two ways of doing it.  tab1 and tab3 are only text, as tab2 is a popover with HTML as it can have links  */

.popover {
    display: none;
    position: absolute;
    left: 0px;
    top: 401px;
    background-color: #EA948A;
    padding: 1.5rem;
    width: 100vw;
    color: white;
}

.popover-tabs li:nth-child(2):hover .popover {
    z-index: 10;
    display: block;
}



.popover-tabs li:nth-child(1):hover::after {
    content: 'This popover can be anywhere on the screen.  Fixed to top/bottom of screen or like this.';
    display: block;
    position: absolute;
    left: 0;
    top: 401px;
    background-color: #EA948A;
    padding: 1.5rem;
    width: 100vw;
    color: white;
    z-index: 5;
}

.popover-tabs li:nth-child(3):hover::after {
    content: 'Some can even have links, check Tab 2 out for that kind.';
    display: block;
    position: absolute;
    left: 0;
    top: 401px;
    background-color: #EA948A;
    padding: 1.5rem;
    width: 100vw;
    color: white;
    z-index: 5;
}



#navbar-4 div:first-child {
    display: flex;
    justify-content: space-between;
}

.popover-tabs {
    z-index: 5;
}
.popover-tabs ul {
    display: flex;
    flex-direction: row;
}


#navbar-4 li {
    list-style: none;
}


.popover-tabs li a {
    margin: 0 15px;
    display: block;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    color: white;   
}


img.logo {
    width: 45px;
    height: 45px;
    transition: all 1s ease 0.5s;
}

img.logo:hover {
    transform: rotate(25deg);
    width: 55px;

}

.navbar-5 {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    margin-top: 45px;
    font-weight: 500;
    font-size: 1rem;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav__links li a:hover {
    color: #0088a9;
}

button.contact-button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button.contact-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}











/* by att */

[id^=navbar] {
    margin-top: 45px;
}














/* Media queries */


/* Only for the first navbar */
@media (max-width: 800px) {
    .navbar:first-of-type .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar:first-of-type .toggle-button {
        display: flex;
    }

    .navbar:first-of-type .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar:first-of-type .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar:first-of-type .navbar-links ul li {
        text-align: center;
    }

    .navbar:first-of-type .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar:first-of-type .navbar-links.active {
        display: flex;
    }


}


